html {
    font-family: sans-serif;
    background: #eee;
    padding: 1rem;
}

body {
    margin: 0 auto;
    background: white;
}

.corpo_base {
    max-width: 960px;

}

.corpo {
    margin: 0 auto;
    background: white;
}

h1 {
    font-family: serif;
    color: #377ba8;
    margin: 1rem 0;
}

a {
    color: #377ba8;

}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

nav {
    background: lightgray;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

nav h1 {
    flex: auto;
    margin: 0;
}

nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

nav ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a, nav ul li span, header .action {
    display: block;
    padding: 0.5rem;
}

.content, .content_body, .content_lateral, .content_header, .content_header_cartelas {
    padding: 0 1rem 1rem;

}

.content_lateral aside{
    padding-top: 5px;
    font-size: 16px;
    color: red;
}

.content_lateral {
    width: 130px;
    word-wrap:break-word;
}

.content_part {
    display: flex;
    justify-content: space-between;
}

.content_header > header, .content_header_config > header, .content_header_cartelas > header{
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
}

.content_header > header h1, .content_header_config > header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

.content_header_config > header h1{
    font-size: 1.17em;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}

.post > header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
}

.post > header > div:first-of-type {
    flex: auto;

}

.post > header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}

.post .about {
    color: slategray;
    font-style: italic;
}

.post .body {
    white-space: pre-line;

}

.content:last-child {
    margin-bottom: 0;

}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.content input, .content textarea {
    margin-bottom: 1em;

}

.content_header > header input, .content_header_cartelas > header input {
    margin: 1rem 0 0.25rem 0;

}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

input.danger {
    color: #cc2f2e;

}

input[type=submit] {
    align-self: start;
    min-width: 10em;
}

.tabela_principal {
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    width: 50px;
    height: 50px;
}

.tabela_principal_cartelas {
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
}

.tabela_interna_cartelas_table {
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
}

.tabela_interna_cartelas_hd {
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    width: 50px;
    height: 20px;
}

.tabela_interna_cartelas_bd {
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    width: 50px;
    height: 50px;
}

.apagar {
    color: white;

}

#bola_escolhida{
    background-image: url("images/bola-azul.png");
    background-size: cover;
    /*border: 1px solid black;
    border-radius: 200px;
    border-collapse: collapse;*/
    font-size: 90px;
    width: 200px;
    height: 200px;
}

.roda_bingo{
    /* background-image: url("images/globo.gif"); */
    background-size: cover;
    /*border: 1px solid black;
    border-radius: 200px;
    border-collapse: collapse;
    font-size: 30px;*/
    width: 225px;
    height: 200px;
}

.tela_principal{
    display: flex;
}

.tela_principal_cartelas{
    display: flex;
    flex-direction: column;
}

.tela_secundaria {
    margin-left: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.tela_botoes {
    height: 70px;
    transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 500ms linear;
}

.tela_botoes input{
    width: 100%;
    height: 100%;
}

.tela_botoes:hover {
  transform: scale(1.025);
  background-position: -60px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.tela_botoes:active {
  transform: scale(1);
  background-position: 500px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tela_botoes input[type=submit] {
    font-size:40px;

}

.tela_botoes form{
    width: 100%;
    height: 100%;
}

.tela_vencedores {
    text-align: center;
    font-size: 40px;
    width: 900px;
    height: 50px;
    display: flex;
}

.vencedores{
    padding-top: 8px;
    font-size: 25px;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    min-width: 200px;
    max-width: 100%;
    margin-left: 10px;
}
