<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'base.html' %}
    {% block header %}
        <h1>{% block title %}Alterar quantidade de bolas{% endblock %}</h1>
    {% endblock %}
</head>
<body>
    {% block content %}
        <form method="post">
            <label for="title">Quantidade de bolas Atual:  {{ bolas['bolasDoBingoJson']['QtdBolas'] }}</label>
            <label for="title">Quantidade de bolas nova.</label>
            <input name="alterarBolas" id="title" type="number" value="{{ request.form['alterarBolas'] }}" required>
            <input type="submit" value="Save">
        </form>
        <form method="post">
            <input name="cancel" type="submit" value="Cancel">
        </form>
    {% endblock %}
</body>
</html>